version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - prognet

  app:
    image: eclipse-temurin:17-jdk
    depends_on:
      - postgres
    volumes:
      - ./target/lernapp-0.0.1-SNAPSHOT.jar:/app/lernapp.jar
    working_dir: /app
    command: java -Dspring.profiles.active=prod -jar /app/lernapp.jar
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/${POSTGRES_DB}
      SPRING_DATASOURCE_USERNAME: ${POSTGRES_USER}
      SPRING_DATASOURCE_PASSWORD: ${POSTGRES_PASSWORD}
    networks:
      - prognet

  nginx:
    image: nginx:stable
    container_name: nginx
    depends_on:
      - app
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/conf.d:/etc/nginx/conf.d:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    networks:
      - prognet

volumes:
  pgdata:

networks:
  prognet:
    driver: bridge
