version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data

  app:
    image: eclipse-temurin:17-jdk
    container_name: prog1-app
    depends_on:
      - postgres
    volumes:
      - ./target:/app
    working_dir: /app
    command: java -Dspring.profiles.active=prod -jar /app/lernapp-0.0.1-SNAPSHOT.jar
    ports:
      - "8080:8080"

volumes:
  pgdata:

