spring:
  application:
    name: prog1-learn-app

  datasource:
    url: jdbc:h2:file:./data/prog1db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.H2Dialect

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html

  web:
    resources:
      static-locations: classpath:/static/

server:
  port: 8080
  servlet:
    context-path: /
  error:
    whitelabel:
      enabled: false

logging:
  level:
    de.uni.prog1: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: WARN
