spring:
  application:
    name: prog1-learn-app

  thymeleaf:
    cache: false
    prefix: classpath:/templates/
    suffix: .html
    mode: HTML
    encoding: UTF-8
    servlet:
      content-type: text/html

  web:
    resources:
      static-locations: classpath:/static/

server:
  port: 8080
  servlet:
    context-path: /
  error:
    whitelabel:
      enabled: false

logging:
  level:
    de.uni.prog1: DEBUG
    org.springframework.security: INFO
    org.hibernate.SQL: WARN

app:
  code-execution:
    mode: warm-container
    pool-size: 1
    warm-image: proginator-java-sandbox
    default-memory-mb: 512
    default-cpus: 2.0
